.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

    > h1 {
        position: relative;
        margin-top: 95px;
        color: $color-1;
        font-family: $font-8;
        font-size: 31px;
        text-transform: uppercase;

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -21px;
            left: 50%;
            width: 75%;
            height: 1px;
            transform: translateX(-50%);
            background: $color-1;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 2;
            top: 13px;
            bottom: -15px;
            left: 50%;
            width: 36px;
            height: 18px;
            margin-top: 30px;
            transform: translateX(-50%);
            background-color: $color-2;
            background-image: url(../../../images/contact/phone.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-y: center;
            background-position-x: center;
        }
    }

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 174px;
        padding-bottom: 44px;

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 56%;
            margin-bottom: 78px;

            > div {
                display: inline-flex;
                position: relative;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                color: $color-11;
                font-family: $font-10;
                font-size: 15px;
                line-height: 24px;

                &:last-child {
                    margin-right: 0;
                }

                &::before {
                    content: '';
                    display: flex;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    bottom: 15px;
                    width: 124px;
                    height: 144px;
                    background-image: url(../../../images/contact/location.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &.mail::before {
                    background-image: url(../../../images/contact/mail.png);
                }

                &.support::before {
                    background-image: url(../../../images/contact/support.png);
                }
            }
        }

        > .input {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin-bottom: 122px;

            .row {
                display: flex;
                width: 100%;
                margin-bottom: 14px;

                :last-child {
                    margin-bottom: 0;
                }

                .input {
                    width: 100%;
                    height: 46px;

                    &::placeholder {
                        padding-left: 10px;
                    }
                }

                .name {
                    flex-grow: 1;
                    margin-right: 16px;
                    border: 1px solid $color-12;
                    border-radius: 2px;
                }

                .email {
                    flex-grow: 1;
                    border: 1px solid $color-12;
                    border-radius: 2px;
                }

                .subject {
                    flex-grow: 1;
                    border: 1px solid $color-12;
                    border-radius: 2px;
                }

                .message {
                    flex-grow: 1;
                    height: 170px;
                    border: 1px solid $color-12;
                    border-radius: 2px;

                    &::placeholder {
                        padding-top: 13px;
                        padding-left: 11px;
                        font-size: 14px;
                    }
                }
            }

            .button {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 160px;
                height: 42px;
                border: none;
                background-color: $color-4;
                color: $color-2;
                letter-spacing: -1px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
