.contact {

    .wrap {

        .info {
            width: 54%;
        }

        .input {
            width: 70%;
            margin-bottom: -4px;

            #button {
                bottom: 124px;
            }
        }
    }
}
