.contact {

    .wrap {

        .info {
            width: 54%;
        }

        .input {
            width: 70%;

            .button {
                bottom: 124px;
            }
        }
    }
}
