.contact {

    .wrap {

        .info {
            width: 43%;
        }

        .input {
            width: 55.5%;
            margin-bottom: 0;

            #button {
                bottom: 123px;
            }
        }
    }
}
