.portfolio {

    > h1 {
        margin-top: 38px;
        font-size: 27px;

        > img {
            top: 40px;
        }
    }

    .wrap {
        align-content: center;
        width: 87%;
        padding-top: 57px;

        .row-1 {
            display: none;
        }

        .row-2 {
            flex-direction: column;

            .col {
                flex-grow: 1;
                height: 163px;
                margin-right: 0;
                margin-bottom: 7px !important;

                .hover {
                    height: 58px;
                    height: 55px;

                    h1 {
                        margin-top: 6px;
                        font-size: 14px;
                        line-height: 27px;
                    }

                    span {
                        margin-top: -8px;
                        font-size: 11px;
                        line-height: 26px;
                    }
                }

                .icons {
                    top: 41%;
                    left: 50%;
                    transform: translate(-47%, -88%);

                    > div {
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
    }
}
