.services {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    background-color: $color-1;

    > h1 {
        padding-top: 143px;
        padding-bottom: 5px;
        color: $color-2;
        font-family: $font-8;
        font-size: 31px;
        text-transform: uppercase;
    }

    .wrap {
        padding-top: 143px;
        display: flex;
        justify-content: space-between;

        .service {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            width: 292px;
            margin-right: 145px;

            &:last-child {
                margin-right: 0;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 124px;
                height: 144px;
                margin-bottom: 34px;
                background-image: url(../../../images/services/background.png);
                background-repeat: no-repeat;

                &:hover {
                    background-image: url(../../../images/services/background-hover.png);
                }
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                color: $color-2;
                font-family: $font-6;
                line-height: 22px;
                font-size: 14px;
                letter-spacing: 0.3px;
                h1 {
                    margin-bottom: 6px;
                    color: $color-4;
                    font-family: $font-2;
                    font-weight: bold;
                    font-size: 20px;
                    text-transform: uppercase;
                    line-height: 40px;
                    letter-spacing: 0;
                }

            }
        }
    }
}
