.services {
    flex-direction: column;
    padding-bottom: 0;

    > h1 {
        margin-top: 73px;
        margin-bottom: 79px;
        padding-top: 0;
        padding-bottom: 12px;
        letter-spacing: -1px;

        &::after {
            top: 15px;
        }
    }

    .wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;

        .service {
            margin-right: 0;
            margin-bottom: 73px;
        }
    }
}
