$font-1 :'Raleway Light';
$font-2 : 'Open Sans';
$font-3: 'FontAwesome';
$font-4: 'Montserrat-Regular';
$font-5: 'Montserrat';
$font-6 : 'Raleway';
$font-7 : 'Raleway ExtraLight';
$font-8 : 'Raleway SemiBold';
$font-9 : 'Raleway SemiBold';
$font-10 : 'Raleway Medium';
