$color-1 :#000000;
$color-2:#FFFFFF;
$color-3:#707070;
$color-4:#3AB6B2;
$color-5:#323232;
$color-6:#6A6A6A;
$color-7: #323232;
$color-8: #3B3B3B;
$color-9 :#E6E6E6;
$color-10:#666666;
$color-11:#606060;
$color-12: #D4D4D4;
$color-13: #252525;
$color-14: #E02F2F;
$color-15: #55ACEE;
$color-16: #46629E;
$color-17: #3498DB;
$color-18: #54675A;
$color-19: #FE0382;