.footer {

    .wrap {
        width: 75%;

        .logo {
            margin-top: 45px;
            font-size: 32px;

            &::before {
                width: 24px;
                height: 35px;
                background-size: cover;
            }
        }

        .icons {
            padding-bottom: 35px;

            .icon {
                margin-bottom: 5px;
            }
        }
    }

    div {
        text-align: center;
    }
}
