.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 114px;
    background-color: $color-2;
    color: $color-1;

    > h1 {
        position: relative;
        margin-bottom: 13px;
        color: $color-4;
        font-family: $font-9;
        font-size: 31px;
        line-height: 34px;
        text-transform: uppercase;

        span {
            color: $color-5;
            font-size: 31px;
            line-height: 25px;
            text-transform: uppercase;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -23px;
            left: 50%;
            width: 50%;
            height: 1px;
            transform: translateX(-50%);
            background: $color-1;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 2;
            top: 15px;
            bottom: -15px;
            left: 50%;
            width: 36px;
            height: 18px;
            margin-top: 30px;
            transform: translateX(-50%);
            background-color: $color-2;
            background-image: url(../../../images/about/speak-icon.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-y: center;
            background-position-x: center;
        }
    }

    .wrap {
        display: flex;
        align-content: space-between;
        width: 87%;
        padding-top: 113px;
        padding-bottom: 128px;
        color: $color-6;
        font-family: $font-2;
        font-size: 14px;
        line-height: 27px;

        .img {
            display: flex;
            position: relative;
            align-content: center;
            justify-content: center;
            width: 637px;
            height: 414px;
            margin-right: 94px;
            overflow: hidden;
            background-color: $color-2;
            background-repeat: no-repeat;
            background-size: contain;

            img {
                display: flex;
                position: absolute;
                z-index: 2;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                margin: auto;
                background-size: contain;
            }
        }

        .content {
            display: flex;
            flex-direction: column;

            h1 {
                margin-bottom: 30px;
                margin-left: -2px;
                padding-top: 5px;
                color: $color-7;
                font-family: $font-9;
                font-size: 31px;
                line-height: 19px;
                text-transform: uppercase;
                word-spacing: -4.5px;
            }

            p {
                margin-bottom: 44px;
            }

            .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .features {
                display: flex;
                flex-direction: column;

                .feature {
                    display: flex;
                    flex-direction: row;
                    width: 275px;

                    &::before {
                        content: '';
                        display: block;
                        flex-shrink: 0;
                        width: 63px;
                        height: 63px;
                        margin-top: 29px;
                        margin-right: 27px;
                        margin-bottom: 5px;
                        border-radius: 50%;
                        background-color: $color-8;
                        background-image: url(/images/about/settings.png);
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        margin-top: 27px;
                        color: $color-6;
                        font-family: $font-2;
                        font-size: 13px;
                        line-height: 22px;

                        h1 {
                            display: inline-block;
                            margin-bottom: 10px;
                            color: $color-5;
                            font-family: $font-6;
                            font-size: 18px;
                            font-weight: bold;
                            letter-spacing: -0.2px;
                            line-height: 18px;
                            word-spacing: -1px;
                        }
                    }

                    &.location {

                        &::before {
                            background-image: url(/images/about/location.png);
                        }
                    }

                    &.heart {

                        &::before {
                            background-image: url(/images/about/heart.png);
                        }
                    }

                    &.new {

                        &::before {
                            background-image: url(/images/about/new.png);
                        }
                    }
                }

                .more {
                    display: none;
                }
            }
        }
    }
}
