.about {

    .wrap {
        width: 69%;

            .img {
            background-size: contain;

            .your-image-here {

                img {
                    display: none;
                }
            }
        }
    }
}
