.about {
    justify-content: space-between;
    padding-top: 73px;

    > h1 {
        margin-bottom: 10px;
        margin-left: -1px;
        letter-spacing: -1.5px;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 750px;
        padding-top: 75px;
        padding-bottom: 74px;

        .img {
            width: 96%;
            height: 422px;
            margin-right: 0;
            margin-bottom: 29px;
            background-image: url(../../../images/about/your-image-here.png);
            background-size: auto;

            .your-image-here {
                display: none;
            }
        }

        .content {
            width: 96%;
            padding-left: 0;

            .row {
                flex-direction: column;
            }

            h1 {
                margin-bottom: 18px;
                margin-left: 0;
                padding-bottom: 21px;
                border-bottom: 1px solid $color-9;
                font-size: 25px;
            }

            p {
                margin-bottom: 53px;
                margin-left: 1px;
                line-height: 24px;
                letter-spacing: -0.49px;
            }

            .features {
                flex-direction: column;

                h1 {
                    display: none;
                }

                .feature {
                    width: 100%;
                    margin-bottom: 5px;
                    padding-top: 0;
                    padding-left: 0;

                    &::before {
                        content: '';
                        display: block;
                        width: 24px;
                        height: 24px;
                        margin-top: 32px;
                        margin-right: 8px;
                        margin-bottom: 5px;
                        padding: 0;
                        border-radius: 0;
                        background: none;
                        background-image: url(../../../images/about/Check.png);
                        background-repeat: no-repeat;
                    }

                    div {

                        h1 {
                            display: none;
                        }
                    }

                    &.location {
                        padding-left: 0;

                        &::before {
                            background-image: url(../../../images/about/Check.png);
                        }
                    }

                    &.heart {
                        padding-top: 0;
                        padding-left: 0;

                        &::before {
                            background-image: url(../../../images/about/Check.png);
                        }
                    }

                    &.new {
                        display: none;
                    }
                }

                .more {
                    display: block;
                    width: 138px;
                    height: 42px;
                    margin-top: 49px;
                    padding: 6px 28px 2px 28px;
                    background-color: $color-4;
                    color: $color-2;
                    text-transform: uppercase;
                }
            }
        }
    }
}
