@import '../../palette.scss';
@import '../../fonts.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-1;
    color: $color-2;
    font-family: $font-1;
    font-size: 36px;
    line-height: 21.36px;
    text-transform: uppercase;

    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1168px;

        .logo {
            padding-top: 27px; // margin-top: 27px; //comment
            padding-bottom: 32px; // margin-bottom: 32px; //comment
            color: $color-2;
            text-decoration: none;

            &::before {
                content: '';
                display: inline-block;
                width: 27px;
                height: 41px;
                background: url(../../../images/header/logo.png);
            }
        }

        nav {
            margin-top: -8px;

            a {
                margin-right: 30.5px;
                color: $color-2;
                font-family: $font-2;
                font-size: 14px;
                line-height: 21.36px;
                text-decoration: none;
            }

            a:hover {
                color: $color-4;
            }

            a:last-child {
                margin-right: 0;
            }
        }

        .phone-menu {
            display: none;
        }
    }
}
