.header {
    padding-bottom: 7px;

    .wrap {
        width: 87%;

        .logo {
            margin-top: 15px;
            margin-bottom: 13px;
            font-size: 27px;

            &::before {
                width: 20px;
                height: 31px;
                background-size: cover;
            }
        }

        nav {
            display: none;
        }

        .phone-menu {
            display: block;
            margin-top: 7px;

            img {
                width: 49px;
                height: 31px;
            }
        }
    }
}
