.header {

    .wrap {
        width: 87%;

        .logo {
            padding-top: 15px;
            padding-bottom: 20px;
            font-size: 27px;

            &::before {
                width: 20px;
                height: 31px;
                background-size: cover;
            }
        }

        nav {
            display: none;
        }

        .phone-menu {
            display: block;

            img {
                width: 49px;
                height: 31px;
            }
        }
    }
}
