.header {
    background-color: yellow;
    // to remove

    .logo {
        margin-top: 15px;
        margin-bottom: 13px;
    }

    .menu {
        display: none;
    }

    .phone-menu {
        display: inline;
        position: absolute;
        top: 18px;
        right: 21px;
    }
}
