.header {
    padding-bottom: 25px;

    .wrap {
        width: 93%;
        margin-top: 13px;
        margin-left: -3px;

        .logo {
            margin-top: 15px;
            margin-bottom: 13px;
        }

        nav {
            display: none;
        }

        .phone-menu {
            display: block;
            margin-top: 14px;

            img {
                width: 54px;
                height: 40px;
            }
        }
    }
}
