.header {

    .wrap {
        width: 93%;
        margin-left: -3px;

        .logo {
            margin-bottom: 9px;
        }

        nav {
            display: none;
        }

        .phone-menu {
            display: block;

            img {
                width: 54px;
                height: 40px;
            }
        }
    }
}
